<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--系统数据库连接字符串start-->
  <connectionStrings>
    <add name="sqlServerConnection" connectionString="Data Source=.; Initial Catalog=mchis;User ID=sa;Password=sa.jcsoft" />
    <!--<add name="oracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.114)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User Id=mcyl;Password=mcyl;" />-->
    <add name="oracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User Id=mcyl;Password=mcyl;" />
  </connectionStrings>
  <!--系统数据库连接字符串end-->
  <!--系统参数start-->
  <appSettings>
    <add key="dateFormat" value="yyyy-MM-dd" />
    <!--系统中时间显示年月日的格式-->
    <add key="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <!--系统中四建显示年月日时分秒的格式-->
    <add key="passwordSalt" value="mcyl" />
    <!--密码盐-->
    <add key="adminName" value="admin" />
    <!--系统管理员账户-->
    <add key="adminPwd" value="admin" />
    <!--系统管理员密码-->
    <add key="disableForeColor" value="#E62716" />
    <!--数据禁用时的字体前景色红色,hex方式表示-->
    <add key="greenColor" value="#4CB549" />
    <!--绿色-->
    <add key="titleFontSize" value="17" />
    <!--标题的字体大小-->
    <add key="titleFontColor1" value="#800000" />
    <!--标题字体的颜色1-->
    <add key="titleFontColor2" value="#AEC7E1" />
    <!--标题字体的颜色1-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--系统参数end-->
  <!--WCF配置参数start-->
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <!--WCF配置参数end-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>